@model List<KitapTuru>

<div class="bg-success">
    @if (TempData["bilgi"]!=null)
    {
        <h2>@TempData["bilgi"]</h2>
    }  
</div>

<div class="container">
    <div class="row pt-3 pb-4">
        <div>
            <h1>Kitap Türleri</h1>
        </div>

    </div>
  
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ad</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ID
                    </td>
                    <td>
                        @item.Ad
                    </td>
                    <td>
                        <a asp-controller="KitapTuru" asp-action="Guncelle" asp-route-id="@item.ID" type="button" class="btn btn-success" style="width:250px">Güncelle</a>
                    </td>
                    <td>
                        <a asp-controller="KitapTuru" asp-action="Sil" asp-route-id="@item.ID" type="button" class="btn btn-danger" style="width:250px">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row pt-3 pb-2">
        <div>
            <a asp-action="Ekle" asp-controller="KitapTuru" class="btn btn-lg btn-primary" type="button">Yeni Kitap Türü Oluştur</a>
        </div>
    </div>

</div>